@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  background: rgb(12, 12, 85);
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

h1 {
  color: white;
  font-size: 3rem;
  background-color: rgb(62, 25, 100);
  font-style: italic;
}

h2 {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 100;
  font-size: 1.2rem;
}

h3 {
  color: white;
  text-align: start;
}

input {
  padding: 0.5rem 1rem;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message-bubble {
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.95);
  text-align: start;
  width: 50%;
  padding: 0rem 1rem;
}
.message {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

.date {
  color: rgba(0, 0, 0, 0.75);
}

form {
  bottom: 10px;
}

label {
  color: rgba(255, 255, 255, 0.9);
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  width: 100px;
}

.edit-btn {
  background: rgb(44, 25, 85);
  color: white;
  border: none;
  width: 100px;
}

.delete-btn:active, .edit-btn:active {
  transform: scale(0.9);
  background: rgba(0, 0, 0, 0.435);
}

.warning {
  color: rgb(255, 255, 255, 0.9);
  font-size: 2rem;
}